.App {
  background-color: rgb(235, 235, 50);
  padding: 2rem 20rem;
  width: 100%;
}
.App h1 {
  color: red;
}
.App button {
  background-color: red;
  cursor: pointer;
  box-shadow: 3px 3px black;
  border: none;
}
.App button:hover {
  box-shadow: 3px 3px orange;
  background-color: yellow;
  color: red;
  font-size: 15px;
  transition:  1s;
} 